@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 680px; }

a img {
  border: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td, th {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #9DC5DD; } }

table.body {
  background: #9DC5DD;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 680px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 0;
  padding-bottom: 16px; }

th.columns.last {
  padding-right: 0; }

th.columns table {
  width: 100%; }

th.large-2 {
  width: 113.33333px;
  padding-left: 0;
  padding-right: 0; }

th.large-2.first {
  padding-left: 0; }

th.large-2.last {
  padding-right: 0; }

th.large-3 {
  width: 170px;
  padding-left: 0;
  padding-right: 0; }

th.large-3.first {
  padding-left: 0; }

th.large-4 {
  width: 226.66667px;
  padding-left: 0;
  padding-right: 0; }

th.large-4.first {
  padding-left: 0; }

th.large-4.last {
  padding-right: 0; }

th.large-6 {
  width: 340px;
  padding-left: 0;
  padding-right: 0; }

th.large-6.first {
  padding-left: 0; }

th.large-6.last {
  padding-right: 0; }

th.large-7 {
  width: 396.66667px;
  padding-left: 0;
  padding-right: 0; }

th.large-7.last {
  padding-right: 0; }

th.large-8 {
  width: 453.33333px;
  padding-left: 0;
  padding-right: 0; }

th.large-8.last {
  padding-right: 0; }

th.large-12 {
  width: 680px;
  padding-left: 0;
  padding-right: 0; }

th.large-12.first {
  padding-left: 0; }

th.large-12.last {
  padding-right: 0; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

table.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

.hide-for-large {
  display: none;
  mso-hide: all;
  overflow: hidden;
  max-height: 0;
  font-size: 0;
  width: 0;
  line-height: 0; }
  @media only screen and (max-width: 680px) {
    .hide-for-large {
      display: block !important;
      width: auto !important;
      overflow: visible !important;
      max-height: none !important;
      font-size: inherit !important;
      line-height: inherit !important; } }

table.body table.container .hide-for-large * {
  mso-hide: all; }

@media only screen and (max-width: 680px) {
  table.body table.container .hide-for-large {
    display: table !important;
    width: 100% !important; } }

@media only screen and (max-width: 680px) {
  table.body table.container .show-for-large {
    display: none !important;
    width: 0;
    mso-hide: all;
    overflow: hidden; } }

body,
table.body,
h1,
h2,
h3,
h4,
p,
td,
th {
  color: #0a0a0a;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: normal;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h1,
h2,
h3,
h4 {
  color: inherit;
  word-wrap: normal;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 14px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 14px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }

a {
  color: #2199e8;
  text-decoration: none;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  text-align: left;
  line-height: 1.3; }
  a:hover {
    color: #147dc2; }
  a:active {
    color: #147dc2; }
  a:visited {
    color: #2199e8; }

h1 a,
h1 a:visited,
h3 a,
h3 a:visited {
  color: #2199e8; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #9DC5DD;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

@media only screen and (max-width: 680px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0 !important;
    padding-right: 0 !important; }
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; } }

/* Pulso Newsletter 2022 */
body {
  font-family: 'Ubuntu', Arial, sans-serif; }

a,
p,
h1,
h3 {
  hyphens: none !important; }

b {
  color: #0578B8; }

a.btn-videos:active, a.btn-videos:hover {
  color: #FFF !important;
  text-decoration: underline !important; }

a:active, a:hover {
  text-decoration: underline !important; }

.container-news {
  background-repeat: no-repeat !important;
  background-size: contain; }

.cont-logo {
  padding-bottom: 0 !important; }
  .cont-logo img {
    margin-left: 64px; }

.destacado {
  margin-bottom: 32px;
  padding-left: 64px !important;
  padding-right: 64px !important; }
  .destacado h1 {
    margin-top: 40px;
    margin-bottom: 18px;
    font-size: 18px;
    padding-left: 64px;
    padding-right: 64px; }
    .destacado h1 a {
      color: #005e91;
      font-weight: 700; }
  .destacado p {
    font-size: 14px;
    padding-left: 64px;
    padding-right: 64px; }
    .destacado p a {
      color: #333; }
  .destacado img {
    width: 100%; }

.link-noticia img {
  width: 166px; }

.noticia th.large-4.first {
  padding-right: 0;
  padding-left: 64px; }

.noticia th.large-8.last {
  padding-right: 64px; }

.noticia a {
  width: 100%;
  color: #333; }

.noticia h3 a {
  font-weight: 700;
  color: #005e91; }

.noticia img {
  width: 166px; }

.noticia .img-right {
  margin-right: 64px; }

.noticia .img-center {
  margin-left: .5rem; }

.noticia p {
  font-size: 14px; }

.titulo {
  text-align: center;
  color: #005e91;
  font-weight: 700;
  margin-bottom: 26px;
  text-transform: uppercase; }

/* Eventos */
.caja-evento {
  padding: 32px;
  color: #FFF; }
  .caja-evento a {
    color: #FFF; }
  .caja-evento .fecha {
    font-size: 14px;
    font-weight: 700; }
    .caja-evento .fecha span {
      font-size: 12px; }
  .caja-evento .lugar {
    text-transform: uppercase;
    font-size: 12px; }
  .caja-evento p {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 12px; }

.eventos th.large-4 {
  padding-left: 0;
  padding-bottom: 0; }

th.large-4.last {
  padding-right: 0;
  padding-bottom: 0; }

th.large-4 {
  padding-right: 0;
  padding-bottom: 0; }

.btn-videos {
  width: 224px;
  height: 30px;
  display: block;
  background-color: #0578B8;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0;
  padding-top: 12px;
  margin: auto;
  margin-top: 24px; }

/* Banner */
.banner {
  width: 100%; }
  .banner a {
    display: inline-block; }
  .banner img {
    border-radius: 0 !important; }
  .banner th.large-6.first {
    padding-left: 16px; }
  .banner th.large-6 {
    padding-right: 16px; }

.noticia-central .small-12.large-4.columns.last {
  padding-right: 64px !important; }

.noticia-central .columna-central {
  padding-left: 64px;
  padding-right: 0; }

.banner-mobile {
  text-align: center; }
  .banner-mobile a {
    display: block;
    margin: 0 auto; }

/* Videos */
.videos {
  /*     .small-12.large-6.columns.first {
        padding-right: 16px;
    }
    .small-12.large-6.columns.last {
        padding-left: 16px;
    } */ }
  .videos img {
    margin-bottom: 1rem; }
  .videos p {
    font-size: 14px; }

.video {
  width: 552px;
  margin: auto; }

/*Banners*/
.banner {
  display: block;
  margin: 0;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-transform: uppercase;
  color: #FFF !important;
  background-color: #0578B8; }

.banner-uddtv {
  background-color: #034569; }

/* Redes */
.titulo-redes h4 {
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  color: #024970; }

.redes {
  text-align: center; }
  .redes img {
    display: inline-block;
    margin: 0 1rem; }

/* Footer */
.footer {
  margin-top: 32px;
  color: #666; }
  .footer .sede {
    font-size: 12px;
    width: 150px;
    margin-top: 1rem; }
  .footer .columna-central {
    padding-left: 16px; }
  .footer th.large-3.first {
    padding-right: 0;
    padding-left: 64px; }
  .footer .columna-logo {
    padding-left: 0;
    padding-right: 64px !important; }
  .footer img {
    margin-right: 0; }

/* Helpers */
.blue-light {
  background-color: #799CB0; }

.blue-med {
  background-color: #497B96; }

.blue-dark {
  background-color: #1A5A7D; }

.blue-med1 {
  background-color: #4B9CC9; }

.blue-dark1 {
  background-color: #1C84BE; }

@media only screen and (max-width: 744px) {
  .caja-evento a {
    font-size: 16px; }
  .destacado h1 {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .spacer-news {
    display: none; }
  table.body .columns {
    padding-left: 32px !important;
    padding-right: 32px !important; }
  .noticia img {
    margin: 0 auto;
    width: 100% !important;
    max-width: 552px !important;
    border: 1px solid #DDD !important; }
  .noticia p {
    font-size: 16px !important; }
  .noticia-central {
    /* img {
            padding-right: 32px !important;
            padding-left: 32px !important;
            border-radius: 16px !important;

        } */ }
    .noticia-central a {
      display: block;
      margin-right: 16px;
      margin-left: 0;
      margin-bottom: 16px; }
  .footer img,
  .footer .sede {
    margin: auto !important; }
  .noticia .img-right {
    margin: auto !important;
    margin-bottom: 1rem !important; }
  .banner {
    margin: auto !important;
    max-width: 552px; }
  .cont-logo img {
    margin: auto !important; }
  .destacado {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    .destacado h1 {
      padding-left: 0 !important;
      padding-right: 0 !important; }
    .destacado p {
      padding-left: 0 !important;
      padding-right: 0 !important;
      font-size: 14px !important; }
  .fecha {
    font-size: 18px; }
    .fecha span {
      font-size: 14px; } }
